<div class="footer-div mt-auto text-center">
    <div class="page-footer">
      <div class="row footer-links">
        <div class="col-sm-6 footer-links-div">
          <ul class="footer-nav">
            <li><a href="/aboutme">About Me</a></li>
            <li><a href="/contact">Contact Me</a></li>
          </ul>
        </div>
        <div class="col-sm-6 footer-links-div">
          <ul class="social-links">
            
            <li><a href="#"><i class="fab fa-linkedin" target="_blank"></i></a></li>
            <li><a href="#"><i class="ab fa-github-square" target="_blank"></i></a></li>
            <li><a href="mailto:me@yachna.net" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyrights">
      <p>Copyright &copy; Yachna Rana 2021</p>
    </div>
  </div>