.bg-company-red{
  background-color: rgb(50, 171, 171);
}
#navid{
  margin-left: 20px;
  background-color: pink;
}
#homepagecover{
  background-attachment: fixed;
  padding: 200px 0 ;
  background-image: url("img/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  background-size: cover;
}

#rowofthree{

  margin: 30px 30px 30px 15px;
  display: flex;
}
#rowoftwo{
  display: flex;
    margin: 5px 15px 5px 1px;
}
#rowimage{
  width: 100%;
}

#servicecover{
  background-attachment: fixed;
  padding: 100px 0 ;
  background-image: url("img/bg-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  background-size: cover;
}
  #rowoffour{
    display: flex;

    margin: 5px 15px 5px 1px;
  }
  #rowmargin{
    padding: 20px;
  }
  #formcover{
    background-attachment: fixed;
    padding: 100px 0 ;
    background-image: url("img/bg-3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    background-size: cover;
  }

  .form-group{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;

  }
  #forminput{
    margin-bottom: 10px;
  }
