<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Yachna Rana</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <!-- bootstrap js bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- fontawesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="stylesheets/index.css">
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>


        <div class="">

            <div class="landing-section">
                <div class="pre-landing-title">Looking for a Web Developer!!</div>
                <div class="landing-title">I'm Yachna Rana</div>
                <!-- <div class="landing-subtitle">Yes, I'm an Entry level, Self taught Web Developer.</div> -->
                <button>Checkout My Projects</button>
            </div>

            <div class="intro-section">
                <div class="intro-title">I'm an Entry level, Self taught Web Developer.</div>
                <div class="intro-description">
                    <div class="intro">
                        <i class="fab fa-node intro-icons"></i>
                        <p>I use React for frontend work</p> 
                    </div>
                    <div class="intro">
                        <i class="fab fa-react intro-icons"></i>
                        <p>For backend, I usually use Express(node.js) </p>
                    </div>
                </div>
            </div>

            <div class="skills-section">
              <h1>Skills & Technologies: </h1>
              <ul>
                <li>Html, CSS & JS</li>
                <li>DOM manipulation</li>
              </ul>
            </div>
        </div>
    </body>
</html>