<% layout('layouts/boilerplate')%>
<div class="home-container">
  <div class="container home-intro">
    <p>My name is Yachna and I am a web developer. I used my time during the pandemic to teach myself front-end technologies like HTML, CSS, and backend technologies like PHP and Javascript. I have also learned to set up and use databases using MySQL, PostgreSQL and MongoDB.</p>
    <p>I have developed several projects using these technologies and would love for you to explore them using the links provided on the PROJECTS page. Please feel free to check out the Github repo as well if you’d like.</p>
  </div>
</div>



