<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <!-- bootstrap js bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- fontawesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="stylesheets/project.css">
    </head>
    <body>
        <div class="container section-project">
            <h1 class="text-center m-5">Projects</h1>  
            
            <div class="row project-container">
                <div class="col-md-5 project-description-container">
                    <div class="project-title">Fardah Roshan Academy</div>
                    <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ad dignissimos illo ipsam, libero at doloremque perspiciatis dolorum harum fuga quasi beatae autem quo alias eos inventore necessitatibus adipisci neque cupiditate.</div>
                    <div>
                        <a class="project-site-link btn-program" target="_blank" href="https://fardah.herokuapp.com/"><i class="fas fa-link"></i></a>
                        <a class="btn-program" target="_blank" href="https://github.com/yoyoyachu/fardahRoshanAcademy"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-5 project-img-container">
                    <a href="https://fardah.herokuapp.com/" target="_blank" class="project-img" id="project-img-fardah"></a>
                </div>
            </div>

            <div class="row project-container">
                <div class="col-md-5 project-description-container">
                    <div class="project-title">Yelp Camp</div>
                    <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ad dignissimos illo ipsam, libero at doloremque perspiciatis dolorum harum fuga quasi beatae autem quo alias eos inventore necessitatibus adipisci neque cupiditate.</div>
                    <div>
                        <a class="project-site-link btn-program" target="_blank" href="https://dry-depths-69632.herokuapp.com/"><i class="fas fa-link"></i></a>
                        <a class="btn-program" target="_blank" href="https://github.com/yoyoyachu/yelpCamp"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-5 project-img-container">
                    <a class="project-img" id="project-img-yelp" target="_blank" href="https://dry-depths-69632.herokuapp.com/"></a>
                </div>
            </div>

            <div class="row project-container">
                <div class="col-md-5 project-description-container">
                    <div class="project-title">Weather App</div>
                    <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ad dignissimos illo ipsam, libero at doloremque perspiciatis dolorum harum fuga quasi beatae autem quo alias eos inventore necessitatibus adipisci neque cupiditate.</div>
                    <div>
                        <a class="project-site-link btn-program" target="_blank" href="https://weather.yachna.net/"><i class="fas fa-link"></i></a>
                        <a class="btn-program" target="_blank" href="https://github.com/yoyoyachu/weatherApplication"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-5 project-img-container">
                    <a class="project-img" id="project-img-weather" target="_blank" href="https://weather.yachna.net/"></a>
                </div>
            </div>
            
            <div class="row project-container">
                <div class="col-md-5 project-description-container">
                    <div class="project-title">Todo App</div>
                    <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ad dignissimos illo ipsam, libero at doloremque perspiciatis dolorum harum fuga quasi beatae autem quo alias eos inventore necessitatibus adipisci neque cupiditate.</div>
                    <div>
                        <a class="project-site-link btn-program" target="_blank" href="https://yachna-todo-app.herokuapp.com/"><i class="fas fa-link"></i></a>
                        <a class="btn-program" target="_blank" href="https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/todo-app"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-5 project-img-container">
                    <a class="project-img" id="project-img-todo" target="_blank" href="https://yachna-todo-app.herokuapp.com/"></a>
                </div>
            </div>

            <div class="row project-container">
                <div class="col-md-5 project-description-container">
                    <div class="project-title">Lights Out Game</div>
                    <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ad dignissimos illo ipsam, libero at doloremque perspiciatis dolorum harum fuga quasi beatae autem quo alias eos inventore necessitatibus adipisci neque cupiditate.</div>
                    <div>
                        <a class="project-site-link btn-program" target="_blank" href="https://play-lights-out-game.herokuapp.com/"><i class="fas fa-link"></i></a>
                        <a class="btn-program" target="_blank" href="https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/lights-out-game"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-5 project-img-container" >
                    <a class="project-img" id="project-img-lights" target="_blank" href="https://play-lights-out-game.herokuapp.com/"></a>
                </div>
            </div>

            <div class="row project-container">
                <div class="col-md-5 project-description-container">
                    <div class="project-title">Hangman Game</div>
                    <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ad dignissimos illo ipsam, libero at doloremque perspiciatis dolorum harum fuga quasi beatae autem quo alias eos inventore necessitatibus adipisci neque cupiditate.</div>
                    <div>
                        <a class="project-site-link btn-program" target="_blank" href="https://play-hangman-game.herokuapp.com/"><i class="fas fa-link"></i></a>
                        <a class="btn-program" target="_blank" href="https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/hangman-game"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-5 project-img-container">
                    <a class="project-img" id="project-img-hangman" target="_blank" href="https://play-hangman-game.herokuapp.com/"></a>
                </div>
            </div>
   
            <div class="row project-container">
                <div class="col-md-5 project-description-container">
                    <div class="project-title">Coin Flipper Game</div>
                    <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ad dignissimos illo ipsam, libero at doloremque perspiciatis dolorum harum fuga quasi beatae autem quo alias eos inventore necessitatibus adipisci neque cupiditate.</div>
                    <div>
                        <a class="project-site-link btn-program" target="_blank" href="https://coin-flipper-game.herokuapp.com/"><i class="fas fa-link"></i></a>
                        <a class="btn-program" target="_blank" href="https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/coin-flipper"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-5 project-img-container">
                    <a class="project-img" id="project-img-coin" target="_blank" href="https://coin-flipper-game.herokuapp.com/"></a>
                </div>
            </div>

            <div class="row project-container">
                <div class="col-md-5 project-description-container">
                    <div class="project-title">Lottery Number Generator</div>
                    <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ad dignissimos illo ipsam, libero at doloremque perspiciatis dolorum harum fuga quasi beatae autem quo alias eos inventore necessitatibus adipisci neque cupiditate.</div>
                    <div>
                        <a class="project-site-link btn-program" target="_blank" href="https://simple-lottery-app.herokuapp.com/"><i class="fas fa-link"></i></a>
                        <a class="btn-program" target="_blank" href="https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/lottery-game"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-5 project-img-container">
                    <a class="project-img" id="project-img-lottery" target="_blank" href="https://simple-lottery-app.herokuapp.com/"></a>
                </div>
 
        </div>
        

        <script src="" async defer></script>
    </body>
</html>