<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <!-- bootstrap js bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- fontawesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="stylesheets/project.css">
    </head>
    <body>
        <div class="container section-project">
            <h1 class="text-center">Projects</h1>  
            
            
                <div class="row project-container">
                    <div class="col-md-5 project-description-container">
                        <div class="project-title">Weather App</div>
                        <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ad dignissimos illo ipsam, libero at doloremque perspiciatis dolorum harum fuga quasi beatae autem quo alias eos inventore necessitatibus adipisci neque cupiditate.</div>
                        <div class="project-tools-container">
                            <div class="tools-title">Tools <i class="fas fa-cog"></i></div>
                            <div class="tools-list">
                                <div class="tools-list-item">Javascript</div>
                                <div class="tools-list-item">CSS</div>
                                <div class="tools-list-item">Ejs</div>
                                <div class="tools-list-item">Express</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 project-img-container">
                        <!-- <div class="project-img"> -->
                            <iframe src="https://weather.yachna.net" title="Yachna's Weather App"></iframe>
                        <!-- </div> -->
                    </div>
                </div>








                <div class="m-3"></div>
                <div class="row project-container">
                    <div class="col-md-5 project-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ad dignissimos illo ipsam, libero at doloremque perspiciatis dolorum harum fuga quasi beatae autem quo alias eos inventore necessitatibus adipisci neque cupiditate. Odio quas doloribus accusantium animi tempore! Repellendus vitae molestias quos vero sed, non adipisci obcaecati itaque accusamus quia quasi!
                    </div>
                    <div class="col-md-5 project-img-container">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto inventore maiores fugit error asperiores quasi nemo provident dolore doloremque porro perferendis, facere aspernatur nisi alias optio quidem quibusdam nobis. Dolore recusandae corporis, nisi nostrum, tenetur esse facilis minus molestias, delectus harum ipsam labore perferendis dicta illo ratione unde omnis reprehenderit.
                    </div>
                </div>

            
        </div>
        

        <script src="" async defer></script>
    </body>
</html>