@font-face {
    font-family: 'Montserrat-Light';
    src: url(../fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url(../fonts/Montserrat-Black.ttf) format('truetype');
}
body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Light';
    color: rgb(65, 65, 65);
    line-height: 1.6;
}

h1,
h2 {
    font-family: 'Montserrat-Black';
    text-transform: uppercase;
}

h1 {
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h1:after {
    display: block;
    height: 3px;
    background-color: #17a2b8;
    content: " ";
    width: 130px;
    margin: 0 auto;
    margin-top: 30px;
}

.icon-small {
    color: #17a2b8;
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    margin-right: 10px;
    /* secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.icon-big{
    font-size: 320%;
    display: block;
    color: #17a2b8;
    margin-bottom: 10px;
}

/* navbar */
.nav-logo {
    width: 80px;
    height: 80px;
    color: black;
}

#logo-title {
    color: #17a2b8;
    font-weight: bolder;
    /* text-shadow: 0.5px 0.5px 3px #89d0ff; */
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgb(65, 65, 65);
    margin-left: 2rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: black;
    /* text-shadow: 2px 2px 1px rgb(170, 167, 167); */
    transition: 0.3s ease-in;
}








/* home-intro */
.home-intro{
    padding: 2%;
    font-size: 150%;
}


/* aboutme-intro */
.aboutme-intro{
    padding: 2%;
    font-size: 150%;
}








.intro-icons{
    color: #17a2b8;
    display: inline-block;
    /* width: 30px; */
    text-align: center;
    font-size: 230%;
    margin-right: 10px;
    /* secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}










/* ----------------------------------------------------------------------------- */
/* FOOTER*/
/* ----------------------------------------------------------------------------- */

.footer-div {
    background-color: rgb(65, 65, 65);
    padding: 30px 50px 30px 50px;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    list-style: none;
}

.social-links {
    list-style: none;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    color: white;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.fa-linkedin,
.fa-github-square,
.fa-envelope {
    transition: color 0.2s;
}

.fa-linkedin:hover {
    color: #4161a9;
}

.fa-github-square:hover {
    color: #00aced;
}



.fa-envelope:hover {
    color: #e18aec;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
.footer-copyrights{
    /* color: #888; */
    color: white;
}












/*big tablet to big screen:width 1024px to 1200px  */
@media only screen and (max-width:1200px) {
    
}
  
/*small tablet to big tablet(portrait):width 768px to 1023px  */
@media only screen and (max-width:1023px) {

}
  
/*big phones to small tablet:width 481px to 767px */
@media only screen and (max-width:767px) {
    
}

/*small phones :upto width 480px  */
@media only screen and (max-width:480px) {
    
}