body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
/* ------------------------------------------------------------------------ */
/*--------------------btns for (reUsable) -------------------*/
/* ------------------------------------------------------------------------ */
.btn-program {
    background-color: rgb(65, 65, 65);
    border: none;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    /* border: 2px solid ; */
}

.btn-program:hover {
    background-color: white;
    color: rgb(65, 65, 65);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.section-project{
    /* background-color: rgb(156, 156, 101); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.project-container{
    /* background-color: rgb(216, 120, 65); */
    justify-content: space-evenly;
    margin:3% 0;
    /* box-shadow: 1px 1px 1px #efefef; */
    
    height: 350px;
}
.project-container:hover{
    /* box-shadow: 1px 1px 20px #5e5d5d; */
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;

    opacity: 0.9;
}
.project-description-container{
    padding: 1%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.project-img-container{
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#project-img-weather{
    background-image: url('../images/weather1.png');
}
#project-img-fardah{
    background-image: url('../images/fardah.png');
}
#project-img-yelp{
    background-image: url('../images/yelp.png');
}
#project-img-coin{
    background-image: url('../images/coin.png');
}
#project-img-lights{
    background-image: url('../images/lights.png');
}
#project-img-todo{
    background-image: url('../images/todo.png');
}
#project-img-hangman{
    background-image: url('../images/hangman.png');
}
#project-img-lottery{
    background-image: url('../images/lottery.png');
}
.project-img{
    /* background-image: url('https://images.unsplash.com/photo-1560017896-a6bf1e2acfb1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d2VhdGhlciUyMGFwcHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 300px;
    border-radius: 2%;
    transition: transform .3s; /* Animation */
}
.project-img:hover{
    transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.project-title{
    font-size: 140%;
    font-weight: 900;
}
.tools-title{
    margin-bottom: 1.5%;
}
.tools-list{
    display: flex;
}
.tools-list-item{
    padding-right: 3%;
}

.project-site-link{
    margin-right: 4%;
}