<% layout('layouts/boilerplate')%>
<div class="index-container">
  <div class="row landing-container">
    <div class="col-md-6 landing-section">
      <div class="index-intro-name">Yachna Rana</div>
      <div class="landing-details">
        <div class="index-intro-title"><i class="fas fa-laptop-code"></i> Web Developer</div>
        <div class="index-intro-city"><i class="fas fa-map-marker"></i>Greater New York City Area</div>
        <div class="index-intro-links">
          <ul class="links-ul">
            <li><a href="#"><i class="fab fa-github icon"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in icon"></i></a></li>
            <li><a href="#"><i class="fas fa-folder-open icon"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 landing-img"></div>
  </div>
  <div class="container index-intro-container">
    <h3>Hi, Let Me Introduce Myself</h3>
    <div class="index-intro">
      <p>My name is Yachna and I am a web developer. I used my time during the pandemic to teach myself front-end technologies like HTML, CSS, and backend technologies like PHP and Javascript. I have also learned to set up and use databases using MySQL, PostgreSQL and MongoDB.</p>
      <p>I have developed several projects using these technologies and would love for you to explore them using the links provided on the PROJECTS page. Please feel free to check out the Github repo as well if you’d like.</p>
    </div>
  </div>
</div>

