<% layout('layouts/boilerplate')%>
<div class="index-container">
  <div class="row landing-container">
    <div class="col-md-6 landing-section">
      <div class="index-intro-name">Yachna Rana</div>
      <div class="landing-details">
        <div class="index-intro-title"><i class="fas fa-laptop-code icon-landing"></i><span id="job"></span><span class="blinking-cursor"> |</span></div>
        <div class="index-intro-city"><i class="fas fa-map-marker-alt icon-landing"></i>Greater New York City Area</div>
        <div class="index-intro-links">
          <ul class="links-ul">
            <li><a href="https://www.linkedin.com/in/yachnarana/"><i class="fab fa-linkedin-in icon"></i></a></li>
            <li><a href="https://github.com/yoyoyachu "><i class="fab fa-github icon"></i></a></li>
            <li><a href="/project"><i class="fas fa-folder-open icon"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 landing-img"></div>
  </div>
  <div class="container index-intro-container">
    <h3 class="index-h3">Hi, Let Me Introduce Myself</h3>
    <div class="index-intro">
      <p>My name is Yachna and I am a web developer. I used my time during the pandemic to teach myself front-end
        technologies like 
        <span class="tag-skills" id="tag-html">HTML</span>, 
        <span class="tag-skills" id="tag-css">CSS</span>, 
        and backend technologies like 
        <span class="tag-skills" id="tag-php">PHP</span> 
        and 
        <span class="tag-skills" id="tag-js">Javascript</span>
        . I have also learned to set up and
        use databases using 
        <span class="tag-skills" id="tag-mysql">MySQL</span>
        , 
        <span class="tag-skills" id="tag-postgre">PostgreSQL</span> 
        and 
        <span class="tag-skills" id="tag-mongo">MongoDB</span>.</p>
      <p>I have developed several projects using these technologies and would love for you to explore them using the
        links provided on the PROJECTS page. Please feel free to check out the Github repo as well if you’d like.</p>
    </div>
  </div>
</div>
<script src="/jscript/index.js"></script>