<% layout('layouts/boilerplate')%>

<div class="container section-project">
    <h1 class="m-4">Resume</h1>
    <iframe class="resume" src="https://cdn.yachna.net/project-imgs/Resume.pdf"></iframe>
</div>
