<% layout('layouts/boilerplate')%>

<div class="container">
  <div class="item">
    <div id="timeline">
      <div>
        <%for(let i=0; i<eduDet.length; i++){%>
          <section class="year">
            <h3><%= eduDet[i].year %></h3>
            <%for(let j=0; j<eduDet[i].details.length; j++){%>
              <section>
                <ul>
                  <li><%= eduDet[i].details[j].title %>
                    <p><%= eduDet[i].details[j].courseProvider%> <br> <a title="Certificate" class="btn-edu" href= <%= eduDet[i].details[j].certi %> ><i class="fas fa-award"></i></a>
                    </p>
                  </li>
                </ul>
              </section>
            <%}%>
          </section>
        <%}%>
      </div>
    </div>
  </div>
</div>

<script src="/jscript/timeline.js"></script>